:root {
  --branding-color: #147992;
  --secondary-color: #e9e3fa;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0a424f;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  background: linear-gradient(90deg, var(--secondary-color) 78%, #6c63ff 78%);
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 86px;
}

.hero p {
  font-size: 42px;
  font-weight: bold;
  margin: 0;
  color: #0a424f;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.check-out {
  font-size: 20px;
}

.content-container {
  padding: 60px 20px;
}

.about-content {
  background: var(--secondary-color);
}

.about-text {
  max-width: 850px;
}

.content.contact-content {
  margin: 30px;
}

.content h1.introduction {
  font-size: 55px;
}

.content .intro-headline {
  text-align: center;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px auto;
}

.portrait {
  border-radius: 10px;
  max-width: 304px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: var(--secondary-color);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.see-projects {
  text-align: center;
  margin-top: 60px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: var(--secondary-color);
  border: 1px solid var(--branding-color);
}

.project {
  border-radius: 6px;
}

.project-preview {
  padding: 120px 0;
}

.project-description {
  background: var(--secondary-color);
  padding: 120px 60px;
  border-radius: 6px;
}

.skill {
  display: inline-block;
  background: #6c63ff;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.github-project {
  font-size: 50px;
  color: var(--branding-color);
}

.logo {
  max-height: 40px;
}

.form-label {
  color: #0a424f;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 912px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .hero {
    background: var(--secondary-color);
    background: linear-gradient(
      180deg,
      var(--secondary-color) 42%,
      #6c63ff 42%
    );
  }

  .hero h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 34px;
  }

  .portrait {
    margin: 60px auto 0;
  }

  .content {
    padding: 0;
  }

  .content h1 {
    font-size: 34px;
    line-height: 56px;
    text-align: center;
  }

  .content h2 {
    font-size: 22px;
  }

  .project-description {
    padding: 0;
    text-align: center;
    background: white;
  }

  .content h1.introduction {
    font-size: 36px;
  }

  .learn-more {
    border-bottom: 1px dotted #6c63ff;
    padding-bottom: 50px;
    justify-content: center;
  }

  .contact-content {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .hero {
    background: var(--secondary-color);
    background: linear-gradient(
      180deg,
      var(--secondary-color) 43%,
      #6c63ff 43%
    );
  }
}

@media (max-width: 386px) {
  .hero {
    background: var(--secondary-color);
    background: linear-gradient(
      180deg,
      var(--secondary-color) 43%,
      #6c63ff 43%
    );
  }
}

@media (max-width: 280px) {
  .hero {
    background: var(--secondary-color);
    background: linear-gradient(
      180deg,
      var(--secondary-color) 56%,
      #6c63ff 56%
    );
  }
  .portrait {
    max-width: 200px;
  }
}
